/* cor do green #03A64A*/
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.bodyContainer {
  background-color: #082c3b;
  color: rgb(0, 231, 231);
  font-size: 30px;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerInputs {
  margin: 20px 0px 0px 0px;
}

.inputs {
  background-color: #026873;
  color: rgb(245, 245, 245);
  font-size: 18px;
  padding: 8px;
}
.inputs::placeholder {
  color: white;
}

#start {
  background-color: rgba(0, 231, 231, 0.842);
  font-size: 22px;
  border-radius: 25px;
  padding: 14px;
  margin: 20px 0px 20px 0px;

  transition: 0.3s;
}
#start:hover {
  background-color: rgba(0, 255, 255, 0.466);
}

.btn {
  background-color: #026873;
  color: #062633;
  border: 3px solid #04171f;
  font-size: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 150px;
}

.containerBtn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6"
    "item7 item8 item9";
}
#item1 {
  grid-area: item1;
}
#item2 {
  grid-area: item2;
}
#item3 {
  grid-area: item3;
}
#item4 {
  grid-area: item4;
}
#item5 {
  grid-area: item5;
}
#item6 {
  grid-area: item6;
}
#item7 {
  grid-area: item7;
}
#item8 {
  grid-area: item8;
}
#item9 {
  grid-area: item9;
}
