* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: rgb(49, 49, 49);
  width: 450px;
  border-radius: 20px;
}

.form {
  color: white;
  padding: 35px 27px 0px 27px;
}

.form h1 {
  font-size: 25px;
  margin-bottom: 40px;
}

.inputs label {
  font-size: 18px;
}

.inputs input {
  border-radius: 7px;
  width: 380px;
  padding: 8px;
  margin: 5px 0px 20px 0px;
}

#registrar {
  background-color: rgb(104, 231, 231);
  width: 400px;
  margin: 10px 0px 30px 0px;
  padding: 10px;
}
