* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #171717;
  color: rgb(8, 223, 223);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 7em;
}

.title p {
  font-size: 2em;
  text-align: center;
}

.countdown {
  display: flex;
  flex-direction: row;

  margin: 8em 0em;
}

.countdown div {
  margin: 0px 50px 0px 50px;
  text-align: center;
}

.countdown div h1 {
  font-size: 7em;
}

#registerBtn {
  background-color: rgb(8, 223, 223);
  font-size: 1.6em;

  width: 170px;
  height: 40px;

  border-radius: 15px;
}

#registerBtn:hover {
  transition: 0.3s;
  background-color: rgba(8, 223, 223, 0.479);

  font-size: 1.7em;
}

@media (max-width: 900px) {
  .title h1 {
    font-size: 6em;
  }

  .title p {
    font-size: 1.8em;
  }

  .countdown div {
    margin: 0px 30px 0px 30px;
  }

  .countdown div h1 {
    font-size: 6em;
  }

  #registerBtn {
    font-size: 1.4em;

    width: 155px;
    height: 35px;
  }

  #registerBtn:hover {
    font-size: 1.5em;
  }
}

@media (max-width: 667px) {
  .title h1 {
    font-size: 5em;
  }

  .title p {
    font-size: 1.5em;
  }

  .countdown div {
    margin: 0px 22px 0px 22px;
  }

  .countdown div h1 {
    font-size: 3.8em;
  }

  .countdown div p {
    font-size: 0.7em;
  }

  #registerBtn {
    font-size: 1.2em;

    width: 125px;
    height: 35px;
  }

  #registerBtn:hover {
    font-size: 1.3em;
  }
}

@media (max-width: 450px) {
  .title h1 {
    font-size: 3em;
  }

  .title p {
    font-size: 1em;
  }

  .countdown {
    margin: 5em 0em;
  }

  .countdown div {
    margin: 0px 10px 0px 10px;
  }

  .countdown div h1 {
    font-size: 2.6em;
  }

  .countdown div p {
    font-size: 0.5em;
  }

  #registerBtn {
    font-size: 1em;

    width: 110px;
    height: 30px;
  }

  #registerBtn:hover {
    font-size: 1.1em;
  }
}
