* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #ffffff;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slideShow {
  background-color: black;
  width: 900px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 0px 15px 20px black;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.btn {
  background-color: transparent;
  color: transparent;
  height: 380px;
  width: 80px;
  border-radius: 10px;
  border: none;
}
.btn:hover {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.377);
  color: white;
}
#next {
  position: absolute;
  top: 0%;
  left: 91.2%;
}
#previous {
  position: absolute;
  top: 0%;
  left: 0%;
}

.img {
  width: 890px;
  height: 370px;
  border-radius: 10px;
}
