* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #171717;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  align-content: center;
}

.calculator {
  background-color: red;
  width: 500px;
}

.displayResult {
  background-color: blanchedalmond;
  width: 450px;
  height: 100px;
}

.btn {
  width: 100px;
  height: 80px;
  font-size: 50px;
}
