* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-color: black;
  color: white;
  font-size: 50px;

  width: auto;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgBattery {
  position: absolute;

  width: 70vw;
  height: 300px;
}

.title {
  position: relative;

  color: yellow;
  font-size: 4em;
  margin: 0em 0em 1em 0em;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.699);
}

.btn {
  position: relative;

  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  font-size: 60px;
  border: 1px solid white;
  border-radius: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.568);

  width: 80px;
  height: 80px;
  margin: 0px 20px 0px 20px;
}

.btn:hover {
  transition: 0.4s;
  border: 1px solid yellow;
  color: rgb(255, 255, 0);
}

footer {
  background-color: black;
  color: white;
  font-size: 20px;

  width: auto;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}
