* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #171717;
  color: white;
  font-size: 40px;

  width: auto;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgBattery {
  width: 100vw; /*99.6*/
  height: 300px;
}

.title {
  position: absolute;

  color: yellow;
  font-size: 4em;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.699);
  margin: 0em 0em 2em 0em;
}

.buttons {
  margin-top: 120px;
  position: absolute;
}

.btn {
  transition: 0.3s;

  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  font-size: 60px;
  border: 1px solid white;
  border-radius: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.568);

  width: 80px;
  height: 80px;
  margin: 0px 20px 0px 20px;
}

.biggerButton {
  transition: 0.3s;

  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  font-size: 60px;
  border: 1px solid yellow;
  box-shadow: 0px 0px 60px yellow;
  border-radius: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.568);

  width: 100px;
  height: 100px;
  margin: 0px 20px 0px 0px;
}

.btn:hover {
  transition: 0.4s;

  border: 1px solid yellow;
  color: rgb(255, 255, 0);
}

footer {
  background-color: #171717;
  color: white;
  font-size: 20px;

  width: auto;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 320px) {
  header {
    font-size: 14px;

    width: auto;
    height: 50px;
  }

  .title {
    font-size: 1.8em;
    margin: 0em 0em 6em 0em;
  }

  .container {
    height: 100vh;
  }

  .buttons {
    margin-top: 3em;
  }

  .buttons {
    display: grid;
    grid-template-areas: "btnA btnS btnD" "btnF btnG btnH" "btnJ btnK btnL";
  }
  #btnA {
    grid-area: btnA;
  }
  #btnS {
    grid-area: btnS;
  }
  #btnD {
    grid-area: btnD;
  }
  #btnF {
    grid-area: btnF;
  }
  #btnG {
    grid-area: btnG;
  }
  #btnH {
    grid-area: btnH;
  }
  #btnJ {
    grid-area: btnJ;
  }
  #btnK {
    grid-area: btnK;
  }
  #btnL {
    grid-area: btnL;
  }

  .btn {
    font-size: 16px;

    width: 50px;
    height: 50px;
    margin: 5px;
  }

  footer {
    font-size: 10px;

    width: auto;
    height: 50px;
  }
}
