* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #171717;
  color: white;
  font-size: 40px;

  width: auto;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 98vw;
  height: 84vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgBattery {
  position: absolute;

  width: 99.6vw;
  height: 300px;
}

.title {
  position: relative;

  color: yellow;
  font-size: 4em;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.699);

  margin: 0em 0em 1em 0em;
}

.btn {
  position: relative;

  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  font-size: 60px;
  border: 1px solid white;
  border-radius: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.568);

  width: 80px;
  height: 80px;
  margin: 0px 20px 0px 20px;
}

.btn:hover {
  transition: 0.4s;

  border: 1px solid yellow;
  color: rgb(255, 255, 0);
}

footer {
  background-color: #171717;
  color: white;
  font-size: 20px;

  width: auto;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}
