* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #8f8f8f;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #171717;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  width: 350px;
  height: 540px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleCalculator {
  text-align: center;

  padding: 30px 0px 5px 0px;
}

.hrCalculator {
  width: 350px;
  margin-bottom: 2px;
}

.formCalculator {
  background-color: #171717;

  width: 250px;
  padding: 40px 0px 0px 0px;
}

.calculatorLabel {
  font-size: 23px;
}

.calculatorInput {
  font-size: 20px;
  text-align: center;

  width: 130px;
  height: 40px;
  margin: 0px 0px 25px 0px;
}

.calculateButton {
  font-size: 18px;

  width: 250px;
  padding: 5px;
  margin: 0px 0px 50px 0px;
}

.result {
  background-color: white;

  width: 250px;
  height: 100px;
}
