* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #171717;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.lightBulb {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;

  width: 300px;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 200px;
}

#turnOnAndTurnOff {
  margin: 20px 0px 0px 0px;
  padding: 3px 5px;
  font-size: 20px;
}
